{% extends '@access-control-bundle/User/base.html.twig' %}

{% block title %}Группа "{{ group.name }}"{% endblock %}

{% block acl_page_header_text %}Группа "{{ group.name }}"{% endblock %}

{% block acl_page_body %}
    <div class="wrapper py-3">
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ group.id }}</td>
                </tr>
                <tr>
                    <th>Наименование</th>
                    <td>{{ group.name }}</td>
                </tr>
                <tr>
                    <th>Создатель</th>
                    <td>{{ group.creator.username }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ group.creationDate }}</td>
                </tr>
                <tr>
                    <th>Родительская группа</th>
                    <td>
                        {% if ( group.parentGroup is not same as null ) %}
                            {{ group.parentGroup.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Доступные маршруты</th>
                    <td>
                        {% if ( group.availableRoutes is not empty ) %}
                            {{ group.availableRoutes|join(', ') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Участники</th>
                    <td>
                        {% if ( group.users is not empty ) %}
                            {{ group.users|join(', ') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-left align-items-center">
        <div class="mr-1">
            <a class="btn btn-outline-primary" href="{{ path('group_index') }}">Назад к списку</a>
        </div>
        <div class="mx-1">
            <a class="btn btn-outline-primary" href="{{ path('group_edit', {'id': group.id}) }}">Редактировать</a>
        </div>
        <div class="ml-1">
            {{ include('@access-control-bundle/Group/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
