{% extends '@access-control-bundle/base.html.twig' %}

{% block title %}Войдите{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center align-items-center">
        <div class="position-absolute col-10 col-sm-8 col-md-6 col-lg-4" style="top: 25%;">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Вы вошли как {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выйти</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-light text-center">Вход в систему</h1>

                <div class="form-group">
                    <label for="inputUsername">Логин</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <div class="form-group mb-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Запомнить меня
                        </label>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group d-flex justify-content-start mb-0">
                    <button class="btn btn-outline-primary" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
