{% extends '@access-control-bundle/base.html.twig' %}

{% block title %}Войдите{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Вы вошли как {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выйти</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>
    <label for="inputUsername">Логин</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Пароль</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Запомнить меня
        </label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        Войти
    </button>
</form>
{% endblock %}
